C:/Users/gabri/Desktop/Bioinformàtica/Anàlisis de dades òmiques/ProjecteOmiques/Regueira-Huguet-Gabriel-PEC1/.Rproj.user/shared/notebooks/AC683B9C-PEC1_omiques/1/s/ch712zoboxgd8